@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Nunito";
  src: url('../public/fonts/Nunito-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Nunito";
  src: url('../public/fonts/Nunito-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
  
@font-face {
  font-family: "Nunito";
  src: url('../public/fonts/Nunito-Light.ttf');
  font-weight:lighter;
  font-style: normal;
}

@font-face {
  font-family: "Monument";
  src: url('../public/fonts/MonumentExtended-Regular.otf');
  font-weight:normal;
  font-style: normal;
}

@font-face {
  font-family: "Monument";
  src: url('../public/fonts/MonumentExtended-Ultrabold.otf');
  font-weight:bold;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Monument',sans-serif;
  color: #E44D26;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

#navbar{
  height: 20vh;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  /* background-color: #E44D26;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #F16529, #E44D26);  */ 

}

#home{
  height: 100vh;
  overflow-y: hidden;
  background-image: url('../public/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right; 
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}


#showcase, #about{
  background-image: url('../public/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right; 
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}


#viewCart, #contact{
  background-image: url('../public/bg4.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: right; 
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

#gateway{
  background-image: url('../public/bg4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: right; 
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}